<div class="create-blog content">
  <form action="/auth/password" method="POST">
    <h2>Create new password</h2>
    <label for="password">Enter new password</label>
    <input type="password" id="password" name="password" required>
    <div class="password error"></div>

    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="token" value="<%= token %>">

    <button type="submit">Update Password</button>
  </form>
</div>

<script>
  const form = document.querySelector('form')
  const passwordError = document.querySelector('.password.error')
  const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
  form.addEventListener('submit', async (e) => {
    e.preventDefault()
    // reset errors
    passwordError.textContent = ''
    // get values
    const password = form.password.value
    const userId = form.userId.value
    const token = form.token.value
    try {
      const res = await fetch('/auth/password', { 
        method: 'POST', 
        body: JSON.stringify({ password, userId, token }),
        headers: {'Content-Type': 'application/json', 'CSRF-Token': csrfToken}
      })
      const data = await res.json()
      if (data.errors) {
        passwordError.textContent = data.errors.password
      }
      if (data.user) {
        location.assign('/auth/login')
      }
    }
    catch (err) {
      console.log(err)
    }
  })
</script>