<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>A Net Ninja Site</p>
  </div>
  <ul>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/products/new">Add Product</a></li>
    <% if (user) { %>
      <li>Welcome, <%= user.email %> </li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><a href="/auth/logout">log out</a></li>
    <% } else { %>   
      <li><a href="/auth/signup">Sign up</a></li>
      <li><a href="/auth/login">log in</a></li>
    <% } %> 
  </ul>
</nav>